extends layout

block content

  div.alert.alert-info
    div Balance: #{balance_amount} #{balance_currency}

  .page-header
    h3 New Transaction

  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    .form-group
      label(class='col-xs-2 control-label', for='name')
        i.fa.fa-user
      .col-xs-8
        .example-numbers
          input#transactionRecipient.form-control(class='typeahead', type='text', autofocus=true, autocomplete='off', spellcheck='false', dir='auto')
    .form-group
      label#currencyLabel(class='col-xs-2 control-label', for='amount')
        i.fa.fa-btc
      .col-xs-8
        .btn-group.btn-group-justified.currency-btns(data-toggle='buttons')
          label.btn.btn-primary.active#optionBTC
            input(type='radio')
            i.fa.fa-btc
          label.btn.btn-primary#optionUSD
            input(type='radio')
            i.fa.fa-usd
        input.form-control(type='text', name='amount', id='amount')
    .form-group
      label(class='col-xs-2 control-label', for='message')
        i.fa.fa-comment
      .col-xs-8
        textarea.form-control(type='text', name='message', id='message', rows='7')
    .form-group
      .col-xs-offset-2.col-xs-2
        button.btn.btn-pay(type='submit')
          i.fa.fa-btc
          | Pay
      .col-xs-2
        button.btn.btn-charge(type='submit')
          i.fa.fa-btc
          | Charge
