extends layout

block content

  div.alert.alert-info
    div Balance: #{balance_amount} #{balance_currency}

  .page-header
    h3 New Transaction

  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    .form-group
      label(class='col-sm-2 control-label', for='name') To
      .col-sm-8
        .example-numbers
          input#transactionRecipient.form-control(class='tt-query typeahead', type='text', autofocus=true, autocomplete='off', spellcheck='false', dir='auto', style='position: relative; vertical-align: top; background-color: transparent;')
    .form-group
      label(class='col-sm-2 control-label', for='amount') Amount
      .col-sm-8
        input.form-control(class='tt-query', type='text', name='amount', id='amount')
    .form-group
      label(class='col-sm-2 control-label', for='message') What's it for?
      .col-sm-8
        textarea.form-control(class='tt-query', type='text', name='message', id='message', rows='7')
    .form-group
      .col-sm-offset-2.col-sm-2
        button.btn.btn-pay(type='submit')
          i.fa.fa-btc
          | Pay
      .col-sm-2
        button.btn.btn-charge(type='submit')
          i.fa.fa-btc
          | Charge
